<!-- now showing a selected post -->
<div class="curr_post" *ngIf="current_post!=undefined && current_post!=null && writing!=true">
  <hr>
  <table>
    <thead class="curr_post_head">
      <th class="no">no.{{current_post.post_no}} </th>
      <th>{{current_post.post_title}}</th>
    </thead>
  </table>
  <br>
  <div class="curr_post_body">
    <div>writer : {{current_post.user_id}}</div>
    <div>date : {{current_post.written_date}}</div>
    <br>
    <br>
    <div [innerHTML]="current_post.post_contents"></div>
    <br>
    <br>
  </div>
</div>


<!-- user information -->
<hr>
<table>
  <thead class="infoHead">My info</thead>
  <thead>
    <th class="field"></th>
    <th class="value"></th>
  </thead>
  <tbody>
    <tr class="info">
      <td>NAME</td>
      <td>{{curr_user.name}}</td>
    </tr>
    <tr class="info">
      <td>ID</td>
      <td>{{curr_user.id}}</td>
    </tr>
    <tr class="info">
      <td>age</td>
      <td>{{curr_user.age}}</td>
    </tr>
    <tr class="info">
      <td>gender</td>
      <td>{{curr_user.gender}}</td>
    </tr>
    <tr class="info">
      <td>birth</td>
      <td>{{curr_user.birth}}</td>
    </tr>
    <tr class="info">
      <td>email</td>
      <td>{{curr_user.email}}</td>
    </tr>
    <tr class="info">
      <td>phone</td>
      <td>{{curr_user.phone}}</td>
    </tr>
  </tbody>
</table>


<!-- list of travels -->
<hr size="5" color=#000000>
<table>
  <thead class="table_head">Travels</thead>
  <thead>
    <th class="no">no</th>
    <th class="written date">start</th>
    <th class="title">title</th>
    <th></th>
    <th></th>
    <th class="writer">start</th>
    <th class="date">end</th>
  </thead>
  <tbody *ngFor="let travel of travel_list">
    <tr>
      <td>{{travel.travel_no}}</td>
      <td>{{travel.written_date}}</td>
      <td class="clickAvailable" (click)="toPost(post)">
        {{travel.title}}
      </td>
      <td>
        <!-- modify plan -->
        <!-- <button *ngIf="ifMyPost(travel.user_id)" (click)="modify(travel)">modify</button> -->
      </td>
      <td>
        <!-- delete plan -->
        <!-- <button *ngIf="ifMyPost(travel.user_id)" (click)="delete(travel.travel_no)">delete</button> -->
      </td>
      <td>{{travel.start_date}}</td>
      <td>{{travel.end_date}}</td>
    </tr>
    <hr>
    {{wish_list}}=getWishes(1) ;
    <tr *ngFor="let wish of wish_list">
      <td>{{wish.wish_no}}2111</td>
      <td>{{wish.written_date}}</td>
      <td class="clickAvailable" (click)="toPost(post)">
        {{wish.title}}
      </td>
      <td>
        <!-- modify plan -->
        <!-- <button *ngIf="ifMyPost(travel.user_id)" (click)="modify(travel)">modify</button> -->
      </td>
      <td>
        <!-- delete plan -->
        <!-- <button *ngIf="ifMyPost(travel.user_id)" (click)="delete(travel.travel_no)">delete</button> -->
      </td>
      <td>{{wish.start_date}}</td>
      <td>{{wish.end_date}}</td>
    </tr>
  </tbody>
</table>

<div class="postPage">
  <button class="pagingButton" (click)="toPrevPostPage()">prev</button>
  {{post_page_no}}
  <button class="pagingButton" (click)="toNextPostPage()">next</button>
</div>

<!-- list of Reviews -->


<!-- list of likes -->
<hr>
<table>
  <thead>Likes</thead>
  <thead>
    <th class="no">no</th>
    <th class="title">title</th>
    <th></th>
    <th></th>
    <th class="writer">wirter</th>
    <th class="date">date</th>
  </thead>
  <tbody>
    <tr *ngFor="let post of post_list">
      <td>{{post.post_no}}</td>
      <td class="clickAvailable" (click)="toPost(post)">
        {{post.post_title}}
      </td>
      <td>
        <!-- modify post -->
        <button *ngIf="ifMyPost(post.user_id)" (click)="modify(post)">modify</button>
      </td>
      <td>
        <!-- delete post -->
        <button *ngIf="ifMyPost(post.user_id)" (click)="delete(post.post_no)">delete</button>
      </td>
      <td>{{post.user_id}}</td>
      <td>{{post.written_date}}</td>
    </tr>
  </tbody>
</table>

<div class="postPage">
  <button class="pagingButton" (click)="toPrevPostPage()">prev</button>
  {{post_page_no}}
  <button class="pagingButton" (click)="toNextPostPage()">next</button>
</div>

<br>
<br>
<br>
<hr>
<!-- search post -->
<div class="searchArea">
  <div class="searchBar">
    <select class="selection" [(ngModel)]="type">
      <option [value]="0">title</option>
      <option [value]="1">writer</option>
    </select>
    <input class="keyword" [(ngModel)]="keyword">
    <span class="searchButton" (click)="search()">search</span>
  </div>
</div>