<!-- createing travel -->
<div>


  <hr>
  <br>
  
  <div>
    writer : {{curr_user.id}}
  </div>
  <br>

  <hr>
  <div style='text-align:center;'>
    Select In-Country &raquo;
    <select [(ngModel)]="selected_in_country_no">
      <option [value]="" selected="selected">SELECT COUNTRY</option>
      <option [value]=country.country_no *ngFor="let country of in_country_list">{{country.name}}</option>
    </select>
    <button (click)="getInCityList()">set in-country</button>
    <br> Select In-City &raquo;
    <select [(ngModel)]="selected_in_city_no">
      <option [value]="" selected="selected">SELECT CITY</option>
      <option [value]=city.city_no *ngFor="let city of in_city_list">{{city.name}}</option>
    </select>
    <br>
  </div>

  <hr>
  <div style='text-align:center;'>
    Select Out-Country &raquo;
    <select [(ngModel)]="selected_out_country_no">
      <option [value]="" selected="selected">SELECT COUNTRY</option>
      <option [value]=country.country_no *ngFor="let country of out_country_list">{{country.name}}</option>
    </select>
    <button (click)="getOutCityList()">set out-country</button>
    <br> Select Out-City &raquo;
    <select [(ngModel)]="selected_out_city_no">
      <option [value]="" selected="selected">SELECT CITY</option>
      <option [value]=city.city_no *ngFor="let city of out_city_list">{{city.name}}</option>
    </select>
    <br><br>
    <button (click)="setInOutCity()">set in/out-city</button>
    <div *ngIf="citySelectCompleted==true">
      <br> START: {{selected_in_country_name}}- {{selected_in_city_name}}_city
      <br> END: {{selected_out_country_name}}- {{selected_out_city_name}}_city
    </div>
  </div>

  <hr>

  <br>
  <div style="font-size:20px">----- in date -----</div>
  <input type="date" id="item_input" [(ngModel)]="start_date">
  <div style="font-size:20px">----- out date -----</div>
  <input type="date" id="item_input" [(ngModel)]="end_date">
  <hr>
  <div style="font-size:20px">----- companions -----</div>
  <input type="number" id="item_input" min="1" max="3000" [(ngModel)]="no_companion">
  <hr>
  <div style="font-size:20px">----- title -----</div>
  <textarea class="textarea" cols="80" rows="2" [(ngModel)]="title"></textarea>
  <div style="font-size:20px">----- description -----</div>
  <textarea class="textarea" cols="80" rows="30" [(ngModel)]="description"></textarea>
  <hr>
  <br>
  <button *ngIf="modifying!=true" class="write_button" (click)="saveTravel()">Save Travel</button>
  <button *ngIf="modifying!=true" class="write_button" (click)="toMakeWish()">Create Wishes for this Travel</button>
  <button *ngIf="modifying==true" class="write_button" (click)="postModified()">Next Step</button>


</div>